.Header {
  background-color: skyblue;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0%;
  text-align: center;
}
.title {
  width: 100vw;
}
